@import url(//db.onlinewebfonts.com/c/9ae5e19516bc6428f1327ff3311b2617?family=DINNextW01-Light);
$color-light-blue: rgb(54, 177, 234);
$color-blue: rgb(1, 122, 177);
$color-background: rgb(227, 235, 238);
$color-dark-gray: #333333;
$color-light-gray: #adafaa;
$color-white: #fff;

/* Global
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-white;
}
body {
    background-color: $color-background;
}
.navbar {
    background: $color-light-blue;
    font-family: 'DINNextW01-Light', serif;
    color: $color-white;
    padding: 0;
    .navbar-brand {
        color: $color-white;
    }
    .container {
        padding: 0;
    }
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header-topline {
    background: $color-dark-gray;
    .container .row {
        display: flex;
        justify-content: space-between;
    }
    .support-email {
        img {
            width: 18px;
            margin: 0 5px;
        }
        a {
            color: $color-white;
            font-weight: bold;
            line-height: 2;
            vertical-align: middle;
        }
    }
    .header-topline-icons {
        display: flex;
        align-items: center;
        .iti-flag {
            margin: 0 10px;
        }
        .header-topline-link {
            color: $color-white;
            font-size: 1.4rem;
            margin: 0 5px;
            &:hover {
                color: $color-blue;
            }
        }
    }
}
.header-logo {
    background: $color-white;
}
.navbar {
    .nav-link {
        color: $color-white !important;
        font-size: 1.2rem;
        font-weight: 700;
        svg {
            fill: $color-white;
        }
        &:hover {
            background: $color-blue;
        }
    }
    .client-area-menu {
        background-color: $color-dark-gray;
    }
}
/* Main
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main-slider {
    overflow: hidden;
}
.pagination-container {
    margin-top: 4rem;
    margin-bottom: 1rem;
    .pagination {
        color: $color-white;
        background: $color-light-gray;
        padding: 5px 0;
        p {
            margin-bottom: 0;
            font-size: 0.9rem;
        }
    }
}

/* Server-List
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.servers {
    list-style: none;
    padding: 0;
    width: 100%;
    .server-item {
        background: $color-white;
        display: flex;
        justify-content: space-around;
        margin: 20px 0;
        padding: 20px;
        font-size: 1.4rem;
    }
    .server-short-name {
        p {
            margin-bottom: 0;
        }
        a {
            color: $color-light-gray;
        }
    }
    .server-full-name {
        padding-right: 5px;
        .setup-fee {
            color: $color-white;
            display: inline-block;
            padding: 5px 10px;
            background: $color-dark-gray;
        }
        .location {
            display: flex;
            .iti-flag {
                margin: auto 0 auto 10px;
            }
        }
    }
    .server-spec {
        p {
            margin-bottom: 0;
            //padding: 10px 0;
        }
    }
    .server-price {
        width: 20%;
        text-align: center;
        p:not(.price) {
            font-size: 0.8rem;
            margin-bottom: 0;
        }
        .price {
            font-weight: bold;
            margin-bottom: 0;
            line-height: 1;
            span {
                font-size: 2rem;
            }
        }
        .order-link {
            color: $color-white;
            display: block;
            text-align: center;
            background: $color-light-blue;
            padding: 10px;
            margin-top: 40px;
            text-transform: uppercase;
            width: 100%;
            &:hover {
                background: $color-blue;
                text-decoration: none;
            }
        }
        p.not-in-stock {
            font-size: 1.5rem;
            color: #999999;
            text-transform: uppercase;
            margin-top: 40px;
        }
    }
}

@media (max-width: 700px) {
    .servers .server-item {
        flex-wrap: wrap;
        .server-short-name {
            width: 30%;
        }
        .server-full-name {
            width: 70%;
        }
        .server-price {
            width: 100%;
            text-align: left;
        }
    }
}
